article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.header, .subHeaders {
  margin: 4rem;
}

.grey-images img {
  filter: grayscale(100%);
}

.hide-images img {
  visibility: hidden;
}

.accessible-font {
  font-family: Arial, Verdana, sans-serif;
}

.dyslexic-font {
  font-family: "OpenDyslexic", Arial, sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
